# Go toolchain
coverage.out
coverage.html
*.test
*.cpuprofile
*.heapprofile
go.work
go.work.sum

# Environment
.idea
.vscode
.DS_Store

# Project Specific
*.csv

# TODO @JacobValdemar: Remove
# My stuff
/log*
tmp/
experiments/
test/suites/carbon/experiments/